.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
    font-size: 120%;
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #00133F;
}

.nav-links{
    display: flex;
    justify-content: space-between;
}

.services-heading{
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    color: #001F3F;
    letter-spacing: 3px;
}

.first-section-title{
    text-align: center;
    font-weight:bolder;
    font-size: 300%;
}

.core-services{
    margin-right: 80px;
}

.core-service-boxes{
    display: flex;
    justify-content: center;
    margin: 70px 50px;
    /* flex-wrap: wrap; */
    /* gap: 0px; */
}

.core-service-box-top, .core-service-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00133F;
    color: white;
    width: 14em;
    height: 11em;
    font-size: 24px;
    clip-path: polygon(100% 50%, 75% 0%, 25% 0%, 0% 50%, 25% 100%, 75% 100%);
    background: #00133F;
    box-shadow: inset 20px 20px 40px #000c27,
                inset -20px -20px 40px #001a57;
}

.core-service-box-top{
    margin-top: -55px;
}

.core-service-box-bottom{
    margin: 75px -80px;
}

.expanded-services{
    background-color: #00133F;
    padding: 2% 0%;
}

.second-section-title{
    font-weight: bold;
    font-size: 250%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
}

.expanded-service-item{
    color: white;
    width: 20em;
    height: 20em;
    border-radius: 51px;
    background: white;
    box-shadow: inset 20px 20px 20px  #716e80,
                inset -20px -20px 20px #ffffff;
    margin: 2% 0%;
}

.expanded-services-items-top, .expanded-services-items-bottom{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.expanded-service-item-icon{
    width: 20%;
    height: 20%;
    margin: 5% auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    background-color: white;
}

.expanded-service-item-title{
    font-size: 150%;
    margin-left: 4%;
    text-align: center;
    color: #00133F;
}

.expanded-service-item-content{
    font-family: 'Inter';
    font-weight: 100;
    font-size: 0.9em;
    margin: 5% 5%;
    text-align: center;
    color: #00133F;
}


.comprehensive-services {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 3em;
    margin: 5% 3%;
}


.third-section-title {
    margin-top: 13%;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

.service-tags-top,.service-tags-bottom {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.service-tags-bottom {
    margin-left: 16.3em;
    margin-top: -4.3em; 
}

.tag-1, .tag-2, .tag-3, .tag-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #00133F; */
    color: white;
    width: 13em;
    height: 14em;
    font-size: 20px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: #00133F;
    box-shadow: inset 20px 20px 40px #000c27,
                inset -20px -20px 40px #001a57;
}

.consultation-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20em;
}

.consultation-title{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #001F3F;
}

.consultation-button{
    background-color:#001F3F;
    color: white;
    border-radius: 100px;
    padding: 2% 10%;
    font-size: 1vw;
    font-weight: 550;
    border: none;
    margin: 2% 0%;
    letter-spacing: 1.2px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001F3F;
    color: white;
    font-size: 1.2w;
}

.footer-links-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 5%;
    font-size: 90%;
    gap: 15%;
}

.link-texts, .phone,.contact-info{
    white-space: nowrap; 
    font-weight: lighter;
    font-size: 1.2vw;
}

.footer-links{
    color: white;
    text-decoration: dotted;
}

#footer-logo{
    font-size: 2vw;
    /* for editing logo */
}

.contact-info{
    margin-right: 10%;
}

.phone{
    margin-left: 10%;
}

