.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
    font-size: 120%;
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-between;
}

.services-heading{
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    color: #001F3F;
    letter-spacing: 3px;
}

.first-section-title{
    text-align: center;
    font-weight:bolder;
    font-size: 300%;
}

.core-service-boxes{
    display: flex;
    justify-content: center;
    margin: 7% 5%;
    flex-wrap: wrap;
    gap: 3px;
}

.core-service-box-top, .core-service-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00133F;
    color: white;
    width: 14em;
    height: 11em;
    font-size: 24px;
    clip-path: polygon(100% 50%, 75% 0%, 25% 0%, 0% 50%, 25% 100%, 75% 100%);
}

.core-service-box-top{
    margin-top: -6%;
}

.core-service-box-bottom{
    margin: 5% -7.2%;
}

.expanded-services{
    background-color: #00133F;
    color: white;
    width: 100%;
    padding: 1% 0;
}

.expanded-services-content{
    margin-left: 2%;
}

.second-section-title{
    font-weight: bold;
    font-size: 250%;
    margin-bottom: 2%;
}

.service-item-list{
    font-size: 120%;
}

.service-item-content{
    font-family: 'Inter';
    font-weight: lighter;
}


.comprehensive-services {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 3em;
    margin: 5% 3%;
}


.third-section-title {
    margin-top: 13%;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

.service-tags-top,.service-tags-bottom {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.service-tags-bottom {
    margin-left: 16.3em;
    margin-top: -4.3em; 
}

.tag-1, .tag-2, .tag-3, .tag-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00133F;
    color: white;
    width: 13em;
    height: 14em;
    font-size: 20px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}


